span.fancytree-icon {
    margin-left: 0.5em;
    color: #3eb5ff;
}


.ft-button-del {
    border: 1px #ffb9b9 solid;
    padding: 0px 4px;
    background-color: #ffcfcf;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    display: none;
}

.ft-button-del:hover {
    border: 1px #ff8e8e solid;
    background-color: #ffa5aa;
}

.fancytree-node:hover .ft-button-del {
    display: inline;
}